.container {
	padding: 5px;
	background-color: white;
	border: 1px solid $color-black-1;
	border-radius: $size-border-radius-small;
	color: inherit;
	cursor: pointer;

	&:hover {
		background-color: $color-black-1;
		color: white;
	}

	&:active {
		border: 1px solid white;
	}
}

.disabled {
	color: gray;
	pointer-events: none;
}
