.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid $color-black-1;
	border-radius: $size-border-radius-small;
}

.icon {
	height: 100%;
}
